:root {
    --grey: #C9CED0;
    --blue: #4863A0;
    --orange: #FF8040;
}

* {
font-family: Arial, 'Helvetica', sans-serif;
font-size: 16px;
}

body{
    background-color: var(--grey);
}
a {
    color: var(--grey);
}

h2, h3, h4 {
    color: var(--blue);
    text-align: right;
}

/*Header and Navigation*/
header {
    background-color: var(--blue);
}
header {
    color: var(--grey);
    display: flex;
    flex-wrap: wrap;
}

header h1 {
    justify-content: flex-start;
    font-size: 300%;
}

header nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left:auto;
}

/*
header ul {
    display:flex;
    flex-direction: row;
    justify-content: flex end;
    
}

header ul li {
    display: inline-flex;
    margin-left: 5px;
    margin-right: 5px;
}
*/


/*Main*/
article{
    display: flex;  
}

aside {
    justify-content: flex-start;
    width: 15vw;
    margin-right: 2vw
}

.bio {
    display: inline-flex;
    justify-content: flex-end;
    max-width: 80vw;
    margin-left: auto;
    border-left: 10px solid var(--blue);
}

.bio img{
    justify-content: flex-end;
    max-width: 20vw;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 80vw;
    margin-left: auto;
}

.primo {
    display:flex;
    width: 80vw;
    position:relative;
}

.secondo {
    display:flex;
    width: 40vw;
    position: relative;
}

h4 {
    position: absolute;
    bottom: 1vh;
    left: 1vh;
    background-color: var(--blue);
    color: var(--grey);
    font-size: 32px;
    padding: 1vh;
    flex: 1 1 auto;
}

figure {
    display: flex;
    border: 10px solid var(--blue);
}

/*Completed Projects*/

.meeting{
    display: flex;
    max-width: 80vw;
    min-width: 0px;
    flex: 1 1 80vw;
}

.secondo img{
    max-width: 40vw;
    min-width: 0px;
    flex: 1 1 40vw;
}
/*Contact Information*/

.reachme {
    display: flex;
    margin-left: auto;
    width: 80vw;
    border-left: 10px solid var(--blue);
    justify-content: space-between;
}



/*
.space {
    display:flex;  
    flex-direction: row; 
    justify-content: flex-end;
}
*/

.around {
    display: inline-flex; 
    margin-right: 5px;
    margin-left: 5px;
    font-weight: bold;
    color: var(--blue);
}


/*Footer and Return Link*/
footer {
    background-color: var(--blue);
    color: var(--grey);
    text-align:center
}