* {
    font-family: Arial, 'Helvetica', sans-serif;
    font-size: 16px;
    }

html{
    scroll-behavior: smooth;
}

:root {
    --grey: #C9CED0;
    --blue: #4863A0;
    --orange: #FF8040;
}

body{
    background-color: var(--grey);
}
a {
    color: var(--grey);
}

/*Header and Navigation*/
header {
    background-color: var(--blue);
    color: var(--grey);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1 {
    font-size: 300%;
    padding: 10px;
}

header nav{
    display: block;
}


header nav ul {
    display:flex;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li{
    display: flex;
    padding: 18px 18px;
}

header nav ul li a {
    font-size: 200%;
    text-decoration: none;
}



/*Main*/
section {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin: 18px 0px;
}

.sub-head {
    width:18vw;
    margin-right: 1vw;
}

h2{
    color: var(--blue);
    text-align: right;
    font-size: 200%;
    margin-left: 9px;
}

.bio {
    display: flex;
    justify-content: center;
    width: 80vw;
    /* margin-left: auto; */
    /* border-left: 10px solid var(--blue); */
}

p {
    color: var(--blue);
    font-weight: 500; 
}
.bio img{
    /* justify-content: flex-end; */
    width: 20vw;
    height: 17.5vw;
    margin: 0px 9px;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-end; */
    width: 80vw;
}

.alpha {
    display:flex;
    width: 80vw;
    position:relative;
}

.alpha img{
    display: flex;
    max-width: 100%;
    min-width: 0px;
    flex: 1 1 80vw;
}

.beta {
    display:flex;
    width: 40vw;
    position: relative;
}

.beta img{
    width: 100%;
    min-width: 0px;
    flex: 1 1 40vw;
}

.beta a {
    width: 100%;
    line-height: 0;

}

h4 {
    position: absolute;
    bottom: 2.5vh;
    left: 2vh;
    flex: 1 1 auto;
}

h4 a {
    font-size: 32px;
    color: var(--grey);
    background-color: var(--blue);
    text-decoration: none;
    padding: 1vh;
}

figure {
    display: flex;
    border: 10px solid var(--blue);
}


/*Contact Information*/

.reachme {
    display: block;
    width: 80vw;
    justify-content: center;
}

.reachme ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.connect { 
    font-weight: bold;
    font-size: 150%;
    color: var(--blue);
    text-decoration: none;
}


/*Footer and Return Link*/
footer {
    background-color: var(--grey);
    color: var(--blue);
    margin-top: 18px;
    text-align:center
}

h5 {
    padding: 18px 0px;
}

footer a{
    padding-bottom: 32px;
    color: var(--blue);
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        justify-content: center;
    }

    header h1 {
        text-align: center ;
    }

    header nav {
        display: flex;
        justify-content: center;
    }

    header nav ul {
        flex-direction: column;
     } 

     header nav ul li{
        display: flex;
        padding: 9px 9px;
        justify-content: center;
    }

     section{
        flex-direction: column;
    }

    .sub-head {
        width: 100vw;
        margin-bottom: 9px;
    }

    h2 {
        text-align: center;
    }
    .bio {
        flex-direction: column;
        width: 100vw;
    }

    .bio img {
        display: block;
        width: 60vw;
        height: 52.5vw;
        margin: 9px auto;
    }
    .tiles,
    .alpha,
    .beta
    {
        width:100vw
    }

    .reachme {
        display: flex;
        width: 100vw;
        justify-content: center;
    }

    .reachme ul {
        flex-direction: column;
    }

    .reachme ul li {
        padding: 9px 9px;
    }
}

   

   
  