:root {
    --grey: #C9CED0;
    --blue: #4863A0;
    --orange: #FF8040;
}

* {
font-family: Arial, 'Helvetica', sans-serif;
font-size: 16px;
}

body{
    background-color: var(--grey);
}
a {
    color: var(--grey);
}

h2{
    color: var(--blue);
    text-align: right;
}

/*Header and Navigation*/
header {
    background-color: var(--blue);
    color: var(--grey);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1 {
    font-size: 300%;
}

header nav{
    display: block;
    align-items: center;
}


header ul {
    display:flex;
    flex-wrap: wrap;
    list-style: none;
}

/*
header ul li {
    display: inline-flex;
    margin-left: 5px;
    margin-right: 5px;
}
*/


/*Main*/
section {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.sub-head {
    width:20vw
}
aside {
    justify-content: flex-start;
    width: 15vw;
    margin-right: 2vw
}

.bio {
    display: flex;
    justify-content: center;
    width: 80vw;
    /* margin-left: auto; */
    /* border-left: 10px solid var(--blue); */
}

.bio img{
    /* justify-content: flex-end; */
    max-width: 20vw;
    max-height: 17.5vh;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-end; */
    width: 80vw;
}

.alpha {
    display:flex;
    width: 80vw;
    position:relative;
}

.alpha img{
    display: flex;
    max-width: 100;
    min-width: 0px;
    flex: 1 1 80vw;
}

.beta {
    display:flex;
    width: 40vw;
    position: relative;
}

.beta img{
    max-width: 100vw;
    min-width: 0px;
    flex: 1 1 40vw;
}

h4 {
    position: absolute;
    bottom: 1vh;
    left: 1vh;
    background-color: var(--blue);
    color: var(--grey);
    font-size: 32px;
    padding: 1vh;
    flex: 1 1 auto;
}

figure {
    display: flex;
    border: 10px solid var(--blue);
}


/*Contact Information*/

.reachme {
    display: block;
    width: 80vw;
    justify-content: center;
}

.reachme ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}



/*
.space {
    display:flex;  
    flex-direction: row; 
    justify-content: flex-end;
}
*/

.around { 
    font-weight: bold;
    color: var(--blue);
}


/*Footer and Return Link*/
footer {
    background-color: var(--blue);
    color: var(--grey);
    text-align:center
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        justify-content: center;
    }

    header h1 {
        text-align: center ;
    }

    header nav {
        display: flex;
        justify-content: center;
    }

    header nav ul {
        flex-direction: column;
     } 

     section{
        flex-direction: column;
    }

    .sub-head {
        width: 100vw;
    }

    h2 {
        text-align: center;
    }
    .bio {
        flex-direction: column;
        width: 100vw;
    }

    .bio img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .tiles,
    .alpha,
    .beta
    {
        width:100vw
    }

    .reachme {
        display: flex;
        width: 100vw;
        justify-content: center;
    }

    .reachme ul {
        flex-direction: column;
    }
}

   

   
  